/* add home page styles here */

.pictures {
    display: flex;
}

.main-logo {
    height: 300px;
}
#foodsie {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-image: url('../assets/coffee-food.png')
}
#transportie {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-image: url('../assets/bus-transport.png')
}
#parkingie {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-image: url('../assets/theme-park.png')
}

.grid-container {  display: flex;   
    justify-content: space-evenly; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "Area-1 Area-1 Area-1"
    "Area-2 Area-2 Area-2"
    "Area-3 Area-4 Area-5"
    "Area-6 Area-7 Area-8";
}

.Area-1 { grid-area: Area-1  }

.Area-2 { grid-area: Area-2; }

.Area-3 { grid-area: Area-3; }

.Area-4 { grid-area: Area-4; }

.Area-5 { grid-area: Area-5; }

.Area-6 { grid-area: Area-6; }

.Area-7 { grid-area: Area-7; }

.Area-8 { grid-area: Area-8; }
