/* add home page styles here */

.pictures {
    display: flex;
}

.main-logo {
    height: 200px;
    width: 300px;
}
#foodsie {
    height: 100px; 
    width: 100px;
    background-image: url('../assets/coffee-food.png')
}
#transportie {
    height: 100px;
    width: 100px;
    background-image: url('../assets/bus-transport.png')
}
#parkingie {
    height: 100px;
    width: 100px;
    background-image: url('../assets/theme-park.png')
}
